<div class="main-card mb-3 card">
    <div class="card-header">
        {{this.tableTitle}}
    </div>
    <div class="table-responsive">
        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    {{#each this.tableHeader as |rowTitle|}}
                    <th class="text-center">{{rowTitle}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                {{#each this.tableData as |row|}}
                <tr>
                    {{#each this.tableHeader as |key|}}
                        <td class="text-center">{{get row key}}</td>
                    {{/each}}
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="d-block text-center card-footer">
    </div>
</div>